* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: silver;
  align-items: center;
}

#store-logo {
  height: 4rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.navbar-icons {
  padding-right: 1rem;
}

.navbar-icons > i {
  margin-left: 0.25rem;
  padding: 0.1rem;
}

.navbar-icons > i:active {
  border: 2px solid black;
  border-radius: 3px;
}

.title {
  margin-left: 3rem;
}

.products-container {
  margin: auto;
  width: 930px;
  display: flex;
  flex-basis: 300px;
  flex-wrap: wrap;
}

.product {
  border: 2px solid black;
  border-radius: 25px;
  margin: 0.25rem;
  padding: 0.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
  width: 300px;
  height: 300px;
}

.product-image {
  display: block;
  max-height: 175px;
  margin: 1.25rem auto 0.25rem auto;
}

.product-information {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-information > div > i {
  font-size: 1.5rem;
}

.fa-heart,
.fa-cart-plus,
.fa-shopping-cart {
  transition-property: color, transform;
  transition-duration: 0.25s;
}

.fa-heart:hover {
  color: crimson;
}

.icons > .fa-heart:active,
.icons > .fa-cart-plus:active {
  transform: scale(1.5);
}

.fav {
  color: crimson;
}

.in-cart {
  color: rgb(7, 176, 233);
}

.fa-cart-plus:hover,
.fa-shopping-cart:hover {
  color: rgb(7, 176, 233);
}
